@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* Variables */
:root {
    --primary-color : #FCA311;
    --primary-color2 : #14213D;
    --primary-color3 : #000000;
    --text-color : #535252;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.wrapper{
    width:100%;
    min-height: 100%;
    overflow-x: hidden;
    /* background: url('https://drive.google.com/uc?export=download&id=15XnKtwPQTwXZTHbd3g5KB1lrDEsO-NP7'); */
    background-size:contain;
}
.wrapper-active{
    opacity: 0.5;
}
nav{
    width:100%;
    height:8vh;
    display: flex;
    align-items: center;
    padding: 40px 5px;
    transition: all 0.3s ease-in-out;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh!important;
    z-index: 500;
    background: #fff;
    padding: 20px 5px;
    -webkit-box-shadow: -1px 4px 11px -2px #f4f4f4;
    box-shadow: -1px 4px 11px -2px #f4f4f4;
}
.logo{
    width: 30px;
    height: 30px;
}
.logo-img{
    width:100%!important;
    height: 100%!important;
}
.logo-active{
    height: 30px!important;
}
.contact-btn-active{
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav-active{
    position:fixed;
}
.active a{
    color: var(--primary-color)!important;
}
nav .container{
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .container ul{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    line-height: 30px;

}
nav .container ul li{
    padding-top:1rem;
    margin-right: 1.5rem;
}
.nav-link{
    color: #535252;
    font-weight: 500;
    white-space: nowrap;
    transition: 250ms ease-out;
    font-size: .8rem;
}
.nav-link:hover{
    color: var(--primary-color);
}
/*Texts*/
.text-subtitle{
    color: var(--primary-color);
}
.text-title{
    font-weight: 700;
    font-size: 50px;
    color: var(--primary-color2);
}
.text-header{
    text-transform: capitalize;
    color: var(--primary-color);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.contact-btn{
    white-space: nowrap;
    background: var(--primary-color2);
    padding: 7px 10px;
    color: #fff;
    width: 120px;
    text-align: center;
}
.contact-btn:hover{
    background: var(--primary-color3);
    color: #f4f4f4;
    padding-right: 2px;
}
.hamburger{
    display: none;
    color: var(--primary-color2);
    font-size: 1.5rem;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar{
    position:fixed;
    top:0;
    left:0;
    width: 60%;
    height: 100%!important;
    padding:1rem 1rem;
    -webkit-box-shadow: 6px 6px 18px -12px rgba(20,0,0,0.9);
    box-shadow: 6px 6px 18px -12px rgba(20,0,0,0.9);
    animation: sidebar 500ms ;
    z-index: 1000;
    background-color: #fff;
    display: none;
}
.sidebar .logo{
    padding:1rem 1rem;
}

.sidebar li{
    margin-top:10px;
    padding: .5rem 0;
    border-radius: 10px;
}
.sidebar li:hover{
    padding-left: .3rem;
    transition: 200ms ease-out ;
    background: var(--primary-color2);
    color: var(--primary-color);
}
.sidebar li a{
    height:100%;
    width:100%;
    color: var(--text-color);
}

.sidebar-active{
    display: block;
}

/*HERO SECTION*/
.hero{
    min-height: 92vh;
    overflow: hidden;
}
.hero .right{
    padding: 1rem;
}
.hero .left{
    margin:auto;
}
.hero .left .hero-info{
    white-space: nowrap;
    margin-bottom: 170px;
    letter-spacing: 3px;
    line-height: 40px;
}
.hero .right img{
    position: relative;
    left:100px;
    top: 30px;
    width: 100%;
    height:100%;
}
.btn{
    background: var(--primary-color2);
    padding: 5px 10px;
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-radius: 0;
}
.btn:hover{
    background: var(--primary-color3);
    color: #f4f4f4;
    padding-right: 2px;

}
.projects-btn{
    width: 150px;
}
.cv-btn{
    width: 150px;
}


/*ABOUT SECTION*/

.about{
    background: var(--primary-color2);
    color:#fff;
    letter-spacing: 2px;
}
.about-right{
    padding: 2rem;
}
.about-right p{
    margin-top: 3rem;
}
.about-right .text-header{
    color: var(--primary-color);
}

.service{
    min-height: 100vh;
    padding-top: 100px;
}
.service-card{
    padding-top: 100px;
    min-height: 300px;
    padding: 1rem;
    transition: 400ms ease-out;
}
.service-card:hover{
    margin-top: -10px;;
}
.service-card h3{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}
.service-card p{
    font-size: .8rem;
    text-align: center;
}
.service-card1{
    background: var(--primary-color);
    color: #fff;
}
.service-card2{
    background: var(--primary-color2);
    color: #fff;
}
.service-card3{
    background: var(--primary-color3);
    color: #fff;
}
.service-card4{
    background: var(--text-color);
    color: #fff;
}
.service-icon{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.service-icon i{
    font-size: 2rem;
}

/*PROJECTS*/
.projects{
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}
.project-list{
    display: flex;
    justify-content: start;
    padding: 0;
}
.project-list .list{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: .8rem;
    text-align: center;
    margin-right: 1rem;
    padding: 0 .5rem;
}
.active{
    border-bottom: 3px solid var(--primary-color);
}

.project-container .item-box{
    position: relative;
    padding: 0;
    transition: 500ms ease-out;
}

.project-container .item-box img{
    width:100%;
    height: 100%;
    padding: 0;
}
.project-description{
    position: absolute;
    bottom: 0;

    width:100%;
    background: rgb(200,202,207,.5);
    padding: .5rem 1rem;
    line-height: .5rem;
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 500ms ease-out;

}
.project-description a{
    color: var(--primary-color2);
    margin-right: 1rem;
}

/*CONTACT*/
.contact{
    margin-top: 100px;
    background: var(--primary-color2);
    color: #fff;
    padding: 100px 0;
}

.contact .container .text-header{
    margin-bottom: 80px;
}
.address-social{
    font-size: 2rem!important;
    margin-right: 20px;
}
/*FOOTER*/
footer{


    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}
.socials{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.socials a{
    color: var(--text-color);
    margin-right: 2rem;
}
.socials .social-icon{
    color: var(--text-color);
    font-size: 2rem;
    transition: 250ms ease-out;
}
/* .socials .social-icon:hover{
    color: var(--primary-color)!important;
} */
.fa-facebook-f:hover{
    color: #3e75d3!important;
}
.fa-github:hover{
    color: #343536!important;
}
.fa-twitter:hover{
    color: #1eb1f5!important;
}
.fa-instagram:hover{
    color: #fa2dc7!important;
}
.fa-linkedin:hover{
    color: #0c90b8!important;
}



/* ANIMATIONS */
@keyframes sidebar {
    0%   {transform: translateX(-100px);}
    100% {transform: translateX(0);}
}
/* MEDIA QUERIES */

@media(max-width:1000px){
    .hero .right img{
        left:50;
    }
    .service-card h3{
        font-size: 1.3rem;
    }
}
@media (max-width:768px){
    .hamburger{
        display:block;

    }
    nav .container ul{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .hero .right img{
        left:20;
        display: block;
    }
    .hero .left .hero-info{
        margin-bottom: 0;
        padding-top: 20px;
    }
    .arrow-down{
        margin-top: 20px;
    }
    .service-card{
        min-height: 200px;
    }
    #firstname{
        margin-top: 50px;
    }
    .contact-info{
        text-align: center;
    }
}

@media (max-width:500px){
    .text-title{
        font-size: 40px;
    }
    .text-subtitle{
        white-space: normal;
    }
}

@media (max-width:400px){
    .text-title{
        letter-spacing: 1px;
        font-size: 35px;
    }
    .text-subtitle{
        white-space: normal;
    }
}